<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,505},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>murasaki_back_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{76,43}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{76,43}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>murasaki_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,110}}</string>
                <key>offset</key>
                <string>{-0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{120,110}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>murasaki_doll.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,269},{19,31}}</string>
                <key>offset</key>
                <string>{-3.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,31}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>murasaki_front_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,354},{65,46}}</string>
                <key>offset</key>
                <string>{-1.5,-9.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{65,46}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>murasaki_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,231},{34,9}}</string>
                <key>offset</key>
                <string>{-0.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{34,9}}</string>
                <key>sourceSize</key>
                <string>{55,16}</string>
            </dict>
            <key>murasaki_front_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{92,83}}</string>
                <key>offset</key>
                <string>{0.5,13.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{92,83}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>murasaki_front_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{118,81}}</string>
                <key>offset</key>
                <string>{-3.5,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{118,81}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>murasaki_front_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,421},{43,29}}</string>
                <key>offset</key>
                <string>{6.5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{43,29}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>murasaki_side_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,302},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{22,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>murasaki_side_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,433},{70,48}}</string>
                <key>offset</key>
                <string>{4,-3.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{70,48}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>murasaki_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,197},{32,10}}</string>
                <key>offset</key>
                <string>{-8.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{32,10}}</string>
                <key>sourceSize</key>
                <string>{55,16}</string>
            </dict>
            <key>murasaki_side_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{68,77}}</string>
                <key>offset</key>
                <string>{-8.5,16.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{68,77}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>murasaki_side_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{112,70}}</string>
                <key>offset</key>
                <string>{1.5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,39},{112,70}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>murasaki_side_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,466},{30,29}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{30,29}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_murasaki.pvr.ccz</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86d5adb373535ae6194ebc2f82aae944:f3d414bbc5c5f799b2cc30774b8ad724:db5e76246d49d388e78248ebb71f715a$</string>
            <key>textureFileName</key>
            <string>cha_murasaki.pvr.ccz</string>
        </dict>
    </dict>
</plist>
