<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,34},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>ayame_back_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,34},{32,27}}</string>
                <key>offset</key>
                <string>{-1.5,-12.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{32,27}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>ayame_back_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,83},{102,96}}</string>
                <key>offset</key>
                <string>{-17,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{102,96}}</string>
                <key>sourceSize</key>
                <string>{140,107}</string>
            </dict>
            <key>ayame_back_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{106,79}}</string>
                <key>offset</key>
                <string>{-15,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{106,79}}</string>
                <key>sourceSize</key>
                <string>{140,107}</string>
            </dict>
            <key>ayame_front_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,78},{15,21}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{15,21}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>ayame_front_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,269},{45,49}}</string>
                <key>offset</key>
                <string>{-5,-1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{45,49}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>ayame_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,19},{33,13}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{33,13}}</string>
                <key>sourceSize</key>
                <string>{54,19}</string>
            </dict>
            <key>ayame_front_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{101,80}}</string>
                <key>offset</key>
                <string>{15.5,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{101,80}}</string>
                <key>sourceSize</key>
                <string>{140,107}</string>
            </dict>
            <key>ayame_front_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,181},{102,86}}</string>
                <key>offset</key>
                <string>{13,-8.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,19},{102,86}}</string>
                <key>sourceSize</key>
                <string>{140,107}</string>
            </dict>
            <key>ayame_side_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,63},{13,23}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{13,23}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>ayame_side_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,269},{45,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{45,50}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>ayame_side_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,181},{44,51}}</string>
                <key>offset</key>
                <string>{-2.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{44,51}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>ayame_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{34,15}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{34,15}}</string>
                <key>sourceSize</key>
                <string>{54,19}</string>
            </dict>
            <key>ayame_side_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{88,102}}</string>
                <key>offset</key>
                <string>{1,2.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{88,102}}</string>
                <key>sourceSize</key>
                <string>{140,107}</string>
            </dict>
            <key>ayame_side_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,99}}</string>
                <key>offset</key>
                <string>{11.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{107,99}}</string>
                <key>sourceSize</key>
                <string>{140,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_ayame.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:187f15545dd074bd2521830d65e4f20b:98e96350370f42582036c2a6c9d93e9b:b77b3b2886674fca564ceac5c327ddc6$</string>
            <key>textureFileName</key>
            <string>cha_ayame.pvr.ccz</string>
        </dict>
    </dict>
</plist>
