<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>haruka_back_coat.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{81,44}}</string>
                <key>offset</key>
                <string>{0.5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{81,44}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>haruka_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{73,77}}</string>
                <key>offset</key>
                <string>{-2.5,9.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{73,77}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>haruka_back_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{25,32}}</string>
                <key>offset</key>
                <string>{0.5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{25,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>haruka_front_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,115},{42,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{42,25}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>haruka_front_coat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,47}}</string>
                <key>offset</key>
                <string>{-0.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{87,47}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>haruka_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,158},{40,9}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{40,9}}</string>
                <key>sourceSize</key>
                <string>{66,25}</string>
            </dict>
            <key>haruka_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,48},{72,77}}</string>
                <key>offset</key>
                <string>{-2,9.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{72,77}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>haruka_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,159},{25,32}}</string>
                <key>offset</key>
                <string>{0.5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{25,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>haruka_front_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{25,25}}</string>
                <key>offset</key>
                <string>{-0.5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>haruka_ribron.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{54,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{54,32}}</string>
                <key>sourceSize</key>
                <string>{64,42}</string>
            </dict>
            <key>haruka_side_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,88},{25,13}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,13}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>haruka_side_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{38,45}}</string>
                <key>offset</key>
                <string>{0,-2.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{38,45}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>haruka_side_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,122},{34,45}}</string>
                <key>offset</key>
                <string>{-1,-2.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{34,45}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>haruka_side_coat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{63,39}}</string>
                <key>offset</key>
                <string>{1.5,-6.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{63,39}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>haruka_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,51},{35,17}}</string>
                <key>offset</key>
                <string>{-11.5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{35,17}}</string>
                <key>sourceSize</key>
                <string>{66,25}</string>
            </dict>
            <key>haruka_side_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,77},{74,61}}</string>
                <key>offset</key>
                <string>{-7,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{74,61}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>haruka_side_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,122},{36,42}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{36,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_haruka.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2ed5a20fae4bbf4cab4c091006097e0:810c46a77572853497577559b51408ff:dab2a0548a611446e31201d184844ffb$</string>
            <key>textureFileName</key>
            <string>cha_haruka.pvr.ccz</string>
        </dict>
    </dict>
</plist>
