<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>asuka_back_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,28},{49,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{49,23}}</string>
                <key>sourceSize</key>
                <string>{55,25}</string>
            </dict>
            <key>asuka_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,82}}</string>
                <key>offset</key>
                <string>{-1,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{98,82}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>asuka_back_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{37,28}</string>
            </dict>
            <key>asuka_front_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,87},{13,15}}</string>
                <key>offset</key>
                <string>{-1.5,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{13,15}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>asuka_front_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,53},{47,32}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{47,32}}</string>
                <key>sourceSize</key>
                <string>{59,34}</string>
            </dict>
            <key>asuka_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,138},{37,12}}</string>
                <key>offset</key>
                <string>{-0.5,-2.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{37,12}}</string>
                <key>sourceSize</key>
                <string>{72,23}</string>
            </dict>
            <key>asuka_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{93,78}}</string>
                <key>offset</key>
                <string>{-2.5,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{93,78}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>asuka_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,125},{38,33}}</string>
                <key>offset</key>
                <string>{1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>asuka_side_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,177},{10,20}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>asuka_side_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{51,24}}</string>
                <key>offset</key>
                <string>{-1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{51,24}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>asuka_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,102},{34,13}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{34,13}}</string>
                <key>sourceSize</key>
                <string>{72,23}</string>
            </dict>
            <key>asuka_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,82},{92,88}}</string>
                <key>offset</key>
                <string>{0,6.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{92,88}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>asuka_slde_bottom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,87},{36,40}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{36,40}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>asuka_slde_bottom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,160},{36,37}}</string>
                <key>offset</key>
                <string>{-8,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{36,37}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_asuka.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b352c62be6a90bc5b2b20b0f652ebc43:e2d8ba290e5287d8899b7d73e851b7f6:58324c4c4873b31241f32a056deb0b00$</string>
            <key>textureFileName</key>
            <string>cha_asuka.pvr.ccz</string>
        </dict>
    </dict>
</plist>
