<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{125,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,112}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,112}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,112}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,116},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>murasaki_back_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{76,43}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{76,43}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>murasaki_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,116},{120,110}}</string>
                <key>offset</key>
                <string>{-0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{120,110}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>murasaki_doll.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,302},{19,31}}</string>
                <key>offset</key>
                <string>{-3.5,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,31}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>murasaki_front_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,459},{65,46}}</string>
                <key>offset</key>
                <string>{-1.5,-9.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{65,46}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>murasaki_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,264},{34,9}}</string>
                <key>offset</key>
                <string>{-0.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{34,9}}</string>
                <key>sourceSize</key>
                <string>{55,16}</string>
            </dict>
            <key>murasaki_front_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{92,83}}</string>
                <key>offset</key>
                <string>{0.5,13.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{92,83}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>murasaki_front_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,228},{118,81}}</string>
                <key>offset</key>
                <string>{-3.5,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{118,81}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>murasaki_front_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,323},{43,29}}</string>
                <key>offset</key>
                <string>{6.5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{43,29}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>murasaki_side_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,323},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{22,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>murasaki_side_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,387},{70,48}}</string>
                <key>offset</key>
                <string>{4,-3.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{70,48}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>murasaki_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,230},{32,10}}</string>
                <key>offset</key>
                <string>{-8.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{32,10}}</string>
                <key>sourceSize</key>
                <string>{55,16}</string>
            </dict>
            <key>murasaki_side_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{68,77}}</string>
                <key>offset</key>
                <string>{-8.5,16.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{68,77}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>murasaki_side_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{112,70}}</string>
                <key>offset</key>
                <string>{1.5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,39},{112,70}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>murasaki_side_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,368},{30,29}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{30,29}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_murasaki.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bbdd00ec3edad56262e75bc39dc6ba3:bbb523d2f1eafd2c43579c660f4078f8:db5e76246d49d388e78248ebb71f715a$</string>
            <key>textureFileName</key>
            <string>cha_murasaki.pvr.ccz</string>
        </dict>
    </dict>
</plist>
