<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hisui_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{74,81}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{74,81}}</string>
                <key>sourceSize</key>
                <string>{105,87}</string>
            </dict>
            <key>hisui_back_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,188},{30,26}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{30,26}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>hisui_back_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{55,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{55,31}}</string>
                <key>sourceSize</key>
                <string>{61,39}</string>
            </dict>
            <key>hisui_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,195},{38,21}}</string>
                <key>offset</key>
                <string>{-0.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{38,21}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>hisui_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,82}}</string>
                <key>offset</key>
                <string>{-2,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{85,82}}</string>
                <key>sourceSize</key>
                <string>{105,87}</string>
            </dict>
            <key>hisui_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,121},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>hisui_front_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{63,29}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{63,29}}</string>
                <key>sourceSize</key>
                <string>{67,30}</string>
            </dict>
            <key>hisui_side_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,220},{26,23}}</string>
                <key>offset</key>
                <string>{6,-3.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{26,23}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>hisui_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,86},{33,18}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{33,18}}</string>
                <key>sourceSize</key>
                <string>{67,28}</string>
            </dict>
            <key>hisui_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{80,85}}</string>
                <key>offset</key>
                <string>{5.5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{80,85}}</string>
                <key>sourceSize</key>
                <string>{105,91}</string>
            </dict>
            <key>hisui_side_leg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,155},{28,21}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{28,21}}</string>
                <key>sourceSize</key>
                <string>{44,21}</string>
            </dict>
            <key>hisui_side_leg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,155},{31,21}}</string>
                <key>offset</key>
                <string>{2.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{44,21}</string>
            </dict>
            <key>hisui_side_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{44,36}}</string>
                <key>offset</key>
                <string>{-7,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{44,36}}</string>
                <key>sourceSize</key>
                <string>{64,41}</string>
            </dict>
            <key>hisui_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,84},{70,69}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{70,69}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hisui_tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{52,43}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_hisui.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5339bd516d4eb564af24f44683134c37:664206e17c7ec1d5aff27c694a06b044:4b365fabc5f8fe257dcbde461d1d1418$</string>
            <key>textureFileName</key>
            <string>cha_hisui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
