<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>asuka_santa_back_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,87},{48,22}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{48,22}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>asuka_santa_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,83}}</string>
                <key>offset</key>
                <string>{1.5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{63,83}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>asuka_santa_back_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,172},{20,46}}</string>
                <key>offset</key>
                <string>{0.5,-12.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,27},{20,46}}</string>
                <key>sourceSize</key>
                <string>{25,75}</string>
            </dict>
            <key>asuka_santa_back_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,41},{36,29}}</string>
                <key>offset</key>
                <string>{1,-6.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{36,29}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>asuka_santa_front_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,79},{12,17}}</string>
                <key>offset</key>
                <string>{-10,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{12,17}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>asuka_santa_front_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,137},{45,33}}</string>
                <key>offset</key>
                <string>{4.5,8.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>asuka_santa_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{37,12}}</string>
                <key>offset</key>
                <string>{-0.5,-2.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{37,12}}</string>
                <key>sourceSize</key>
                <string>{72,23}</string>
            </dict>
            <key>asuka_santa_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{68,79}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{68,79}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>asuka_santa_front_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{41,26}}</string>
                <key>offset</key>
                <string>{-10,-4.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{41,26}}</string>
                <key>sourceSize</key>
                <string>{65,39}</string>
            </dict>
            <key>asuka_santa_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{35,34}}</string>
                <key>offset</key>
                <string>{0.5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{35,34}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>asuka_santa_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,220},{38,34}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{38,34}}</string>
                <key>sourceSize</key>
                <string>{64,50}</string>
            </dict>
            <key>asuka_santa_side_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,124},{10,18}}</string>
                <key>offset</key>
                <string>{-1.5,6.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{10,18}}</string>
                <key>sourceSize</key>
                <string>{17,35}</string>
            </dict>
            <key>asuka_santa_side_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,86},{36,33}}</string>
                <key>offset</key>
                <string>{-8,3.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{36,33}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>asuka_santa_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,124},{34,13}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{34,13}}</string>
                <key>sourceSize</key>
                <string>{72,23}</string>
            </dict>
            <key>asuka_santa_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{60,83}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{60,83}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>asuka_santa_side_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,172},{28,44}}</string>
                <key>offset</key>
                <string>{2,-8.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{28,44}}</string>
                <key>sourceSize</key>
                <string>{36,65}</string>
            </dict>
            <key>asuka_santa_slde_bottom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,45},{36,39}}</string>
                <key>offset</key>
                <string>{-8,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{36,39}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>asuka_santa_slde_bottom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,218},{36,40}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{36,40}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_asuka_event.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9776506ffc8b5f27d7cf9d82245ef0d9:ae3d018a70dd9213c72cea280b1dfb89:1ba57dba59c3a56e65c1738a28662dcb$</string>
            <key>textureFileName</key>
            <string>cha_asuka_event.pvr.ccz</string>
        </dict>
    </dict>
</plist>
