<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,86},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>ryoubi_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,86},{70,62}}</string>
                <key>offset</key>
                <string>{-4.5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{70,62}}</string>
                <key>sourceSize</key>
                <string>{85,110}</string>
            </dict>
            <key>ryoubi_back_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,186},{56,28}}</string>
                <key>offset</key>
                <string>{-1,-10.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,24},{56,28}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>ryoubi_back_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{87,43}}</string>
                <key>offset</key>
                <string>{15.5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,2},{87,43}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>ryoubi_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,43},{39,13}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{39,13}}</string>
                <key>sourceSize</key>
                <string>{49,25}</string>
            </dict>
            <key>ryoubi_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,93}}</string>
                <key>offset</key>
                <string>{4.5,5.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{70,93}}</string>
                <key>sourceSize</key>
                <string>{85,110}</string>
            </dict>
            <key>ryoubi_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,183},{55,29}}</string>
                <key>offset</key>
                <string>{1.5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,23},{55,29}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>ryoubi_front_top1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{82,37}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{82,37}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>ryoubi_front_top2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,158},{38,26}}</string>
                <key>offset</key>
                <string>{1,5.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,9},{38,26}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>ryoubi_hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,186},{36,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{36,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>ryoubi_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,240},{35,14}}</string>
                <key>offset</key>
                <string>{-4,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{35,14}}</string>
                <key>sourceSize</key>
                <string>{49,25}</string>
            </dict>
            <key>ryoubi_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{66,86}}</string>
                <key>offset</key>
                <string>{-4.5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{66,86}}</string>
                <key>sourceSize</key>
                <string>{85,110}</string>
            </dict>
            <key>ryoubi_side_leg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,158},{26,20}}</string>
                <key>offset</key>
                <string>{6,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{26,20}}</string>
                <key>sourceSize</key>
                <string>{40,25}</string>
            </dict>
            <key>ryoubi_side_leg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,158},{23,21}}</string>
                <key>offset</key>
                <string>{4.5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{23,21}}</string>
                <key>sourceSize</key>
                <string>{40,25}</string>
            </dict>
            <key>ryoubi_side_top1.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,97},{87,38}}</string>
                <key>offset</key>
                <string>{-15.5,3.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{87,38}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
            <key>ryoubi_side_top2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{46,39}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,10},{46,39}}</string>
                <key>sourceSize</key>
                <string>{120,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_ryoubi.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a75cbcb31e52c2dcc233384099d5767:ad1b0cc6f4fd9aa2c360ce55f6f93c34:252b18afa7e5c936bae273e532d43e17$</string>
            <key>textureFileName</key>
            <string>cha_ryoubi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
