<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>ryouna_back_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{29,28}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{29,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ryouna_back_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,173},{31,22}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{32,23}</string>
            </dict>
            <key>ryouna_back_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,73},{39,33}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{39,33}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>ryouna_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{66,69}}</string>
                <key>offset</key>
                <string>{-1,16.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{66,69}}</string>
                <key>sourceSize</key>
                <string>{106,104}</string>
            </dict>
            <key>ryouna_back_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,164},{21,19}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{21,19}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>ryouna_front_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,138},{32,22}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{32,22}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>ryouna_front_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,226},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ryouna_front_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,39},{40,32}}</string>
                <key>offset</key>
                <string>{-0.5,6.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>ryouna_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,162},{32,9}}</string>
                <key>offset</key>
                <string>{-0.5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{32,9}}</string>
                <key>sourceSize</key>
                <string>{49,17}</string>
            </dict>
            <key>ryouna_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{65,67}}</string>
                <key>offset</key>
                <string>{1.5,16.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{65,67}}</string>
                <key>sourceSize</key>
                <string>{106,104}</string>
            </dict>
            <key>ryouna_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,205},{23,19}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{23,19}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>ryouna_side_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,197},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ryouna_side_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,226},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>ryouna_side_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{41,35}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{41,35}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>ryouna_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,212},{30,12}}</string>
                <key>offset</key>
                <string>{-8.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,12}}</string>
                <key>sourceSize</key>
                <string>{49,17}</string>
            </dict>
            <key>ryouna_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,73}}</string>
                <key>offset</key>
                <string>{-3.5,10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{73,73}}</string>
                <key>sourceSize</key>
                <string>{106,104}</string>
            </dict>
            <key>ryouna_side_leg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,185},{21,18}}</string>
                <key>offset</key>
                <string>{8,-13.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{21,18}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>ryouna_side_leg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,138},{24,19}}</string>
                <key>offset</key>
                <string>{10.5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,23},{24,19}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>ryouna_wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,108},{52,28}}</string>
                <key>offset</key>
                <string>{0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{52,28}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_ryouna.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa79ee23be4ec064a6ee79330a50b0bc:972436fc21d5456ccb51b42d6f8ed703:1b45f5d04ebbde5b6dfac287551812e1$</string>
            <key>textureFileName</key>
            <string>cha_ryouna.pvr.ccz</string>
        </dict>
    </dict>
</plist>
