<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,35},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>chiyo_back_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,90},{44,16}}</string>
                <key>offset</key>
                <string>{-7,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,16}}</string>
                <key>sourceSize</key>
                <string>{58,23}</string>
            </dict>
            <key>chiyo_back_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,109},{24,44}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>chiyo_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{67,66}}</string>
                <key>offset</key>
                <string>{1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{67,66}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>chiyo_back_trom.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,121},{33,34}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{33,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>chiyo_front_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,97},{24,13}}</string>
                <key>offset</key>
                <string>{-8.5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{24,13}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>chiyo_front_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,135},{22,31}}</string>
                <key>offset</key>
                <string>{0.5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{22,31}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>chiyo_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,19},{36,14}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{36,14}}</string>
                <key>sourceSize</key>
                <string>{42,22}</string>
            </dict>
            <key>chiyo_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{67,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{67,63}}</string>
                <key>sourceSize</key>
                <string>{79,67}</string>
            </dict>
            <key>chiyo_front_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{37,15}}</string>
                <key>offset</key>
                <string>{0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{37,15}}</string>
                <key>sourceSize</key>
                <string>{42,25}</string>
            </dict>
            <key>chiyo_front_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,123},{25,25}}</string>
                <key>offset</key>
                <string>{0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{25,25}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>chiyo_front_trom.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,67},{51,40}}</string>
                <key>offset</key>
                <string>{-21.5,-15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{51,40}}</string>
                <key>sourceSize</key>
                <string>{94,71}</string>
            </dict>
            <key>chiyo_side_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,70},{19,18}}</string>
                <key>offset</key>
                <string>{-5,1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{19,18}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>chiyo_side_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,67},{28,13}}</string>
                <key>offset</key>
                <string>{8.5,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{28,13}}</string>
                <key>sourceSize</key>
                <string>{49,34}</string>
            </dict>
            <key>chiyo_side_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,78},{35,41}}</string>
                <key>offset</key>
                <string>{-1.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{35,41}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>chiyo_side_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,35},{35,41}}</string>
                <key>offset</key>
                <string>{-0.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{35,41}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>chiyo_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,150},{27,22}}</string>
                <key>offset</key>
                <string>{-3.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>chiyo_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,70}}</string>
                <key>offset</key>
                <string>{9.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{74,70}}</string>
                <key>sourceSize</key>
                <string>{97,75}</string>
            </dict>
            <key>chiyo_side_trom.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,70},{44,33}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,33}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_chiyo.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb9837ea57db0f9d4e9a1bd7192b0732:8eef884f88a5a140531f385754854e9c:de27118ad2557847302be8a186ca4b20$</string>
            <key>textureFileName</key>
            <string>cha_chiyo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
