<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hibari_back_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,105},{17,17}}</string>
                <key>offset</key>
                <string>{-0.5,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{17,17}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hibari_back_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,215},{26,23}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,32},{26,23}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>hibari_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,74}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{94,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hibari_back_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{46,21}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{46,21}}</string>
                <key>sourceSize</key>
                <string>{56,35}</string>
            </dict>
            <key>hibari_front_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,78},{24,25}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{24,25}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>hibari_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,78},{41,17}}</string>
                <key>offset</key>
                <string>{-1.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{41,17}}</string>
                <key>sourceSize</key>
                <string>{60,24}</string>
            </dict>
            <key>hibari_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,74}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hibari_front_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,215},{28,23}}</string>
                <key>offset</key>
                <string>{1,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>hibari_side_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,105},{13,22}}</string>
                <key>offset</key>
                <string>{-5.5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{13,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>hibari_side_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,215},{35,11}}</string>
                <key>offset</key>
                <string>{-0.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{35,11}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>hibari_side_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,65},{61,53}}</string>
                <key>offset</key>
                <string>{11.5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>hibari_side_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{61,54}}</string>
                <key>offset</key>
                <string>{11.5,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{61,54}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>hibari_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{39,19}}</string>
                <key>offset</key>
                <string>{-6.5,2.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{39,19}}</string>
                <key>sourceSize</key>
                <string>{60,24}</string>
            </dict>
            <key>hibari_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{85,75}}</string>
                <key>offset</key>
                <string>{1.5,10.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{85,75}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_hibari.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf3e1399ebf80fbc5087fbf077449d88:9e13f4c66264137b63ef130cb1df1857:a270d707d87af3722f1c494ef50b8ba5$</string>
            <key>textureFileName</key>
            <string>cha_hibari.pvr.ccz</string>
        </dict>
    </dict>
</plist>
