<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>imu_back_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,74},{23,58}}</string>
                <key>offset</key>
                <string>{-8,5.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{23,58}}</string>
                <key>sourceSize</key>
                <string>{43,71}</string>
            </dict>
            <key>imu_back_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{36,30}}</string>
                <key>offset</key>
                <string>{-1,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{36,30}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
            <key>imu_back_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,74},{25,21}}</string>
                <key>offset</key>
                <string>{0.5,-5.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{25,21}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>imu_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{84,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{84,70}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>imu_front_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,132},{16,32}}</string>
                <key>offset</key>
                <string>{5.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>imu_front_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,220},{25,29}}</string>
                <key>offset</key>
                <string>{-0.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{25,29}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>imu_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,88},{42,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{42,17}}</string>
                <key>sourceSize</key>
                <string>{66,21}</string>
            </dict>
            <key>imu_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{84,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{84,70}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>imu_front_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,88},{50,57}}</string>
                <key>offset</key>
                <string>{6,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{50,57}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>imu_side_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{39,52}}</string>
                <key>offset</key>
                <string>{13.5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{39,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>imu_side_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,79},{41,43}}</string>
                <key>offset</key>
                <string>{-2.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{41,43}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>imu_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{35,20}}</string>
                <key>offset</key>
                <string>{-12.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{35,20}}</string>
                <key>sourceSize</key>
                <string>{66,21}</string>
            </dict>
            <key>imu_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,75}}</string>
                <key>offset</key>
                <string>{2,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{90,75}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>imu_side_hear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{13,34}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{13,34}}</string>
                <key>sourceSize</key>
                <string>{25,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_imu.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ee95a29ea3cc197ef2b3ac83d785d49:991ee050cb04b16d578b9abe9a0be989:489d6092a25dc419bfc89b3451351816$</string>
            <key>textureFileName</key>
            <string>cha_imu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
