<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hibari_back_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,210},{24,24}}</string>
                <key>offset</key>
                <string>{-0.5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{24,24}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>hibari_back_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,210},{25,21}}</string>
                <key>offset</key>
                <string>{-0.5,-14.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{25,21}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>hibari_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,70}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{80,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hibari_back_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,30},{34,35}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,35}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>hibari_front_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,127},{29,19}}</string>
                <key>offset</key>
                <string>{-1,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{29,19}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>hibari_front_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{26,36}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,14},{26,36}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>hibari_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,94},{32,15}}</string>
                <key>offset</key>
                <string>{0,1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{32,15}}</string>
                <key>sourceSize</key>
                <string>{50,22}</string>
            </dict>
            <key>hibari_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{80,65}}</string>
                <key>offset</key>
                <string>{0,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{80,65}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hibari_front_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,66},{32,26}}</string>
                <key>offset</key>
                <string>{1.5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{32,26}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>hibari_side_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{60,48}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{60,48}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>hibari_side_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,148},{60,48}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{60,48}}</string>
                <key>sourceSize</key>
                <string>{84,50}</string>
            </dict>
            <key>hibari_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,111},{30,14}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{50,22}</string>
            </dict>
            <key>hibari_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{72,59}}</string>
                <key>offset</key>
                <string>{-3,17.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{72,59}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_hibari.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c431db48854f10f500df6c38bb118011:31055f281606428b1859e016bdfe4cb2:a270d707d87af3722f1c494ef50b8ba5$</string>
            <key>textureFileName</key>
            <string>cha_hibari.pvr.ccz</string>
        </dict>
    </dict>
</plist>
