<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>asuka_back_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,28},{50,24}}</string>
                <key>offset</key>
                <string>{-1,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,24}}</string>
                <key>sourceSize</key>
                <string>{52,25}</string>
            </dict>
            <key>asuka_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,83}}</string>
                <key>offset</key>
                <string>{1,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,83}}</string>
                <key>sourceSize</key>
                <string>{100,84}</string>
            </dict>
            <key>asuka_back_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,161},{39,28}}</string>
                <key>offset</key>
                <string>{-1,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{39,28}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>asuka_front_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,88},{14,15}}</string>
                <key>offset</key>
                <string>{-1.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{14,15}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>asuka_front_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,54},{47,32}}</string>
                <key>offset</key>
                <string>{5.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{47,32}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>asuka_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,104},{39,14}}</string>
                <key>offset</key>
                <string>{-0.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,3},{39,14}}</string>
                <key>sourceSize</key>
                <string>{100,19}</string>
            </dict>
            <key>asuka_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{94,81}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,81}}</string>
                <key>sourceSize</key>
                <string>{100,81}</string>
            </dict>
            <key>asuka_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,126},{39,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>asuka_side_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,178},{10,20}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>asuka_side_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{51,24}}</string>
                <key>offset</key>
                <string>{-1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{51,24}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>asuka_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,145},{31,14}}</string>
                <key>offset</key>
                <string>{-16.5,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{31,14}}</string>
                <key>sourceSize</key>
                <string>{100,19}</string>
            </dict>
            <key>asuka_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,85},{92,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{92,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>asuka_slde_bottom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,88},{36,40}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{36,40}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>asuka_slde_bottom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{36,37}}</string>
                <key>offset</key>
                <string>{-8,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{36,37}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_asuka.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f486958f56a3e85f9e8d5c2e58587675:0ac027f995685dbe61c71f512360d701:58324c4c4873b31241f32a056deb0b00$</string>
            <key>textureFileName</key>
            <string>cha_asuka.pvr.ccz</string>
        </dict>
    </dict>
</plist>
