<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>cha_back_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,58},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{23,13}</string>
            </dict>
            <key>cha_back_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,49},{19,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,7}}</string>
                <key>sourceSize</key>
                <string>{23,7}</string>
            </dict>
            <key>cha_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>cha_back_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,58},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{23,12}</string>
            </dict>
            <key>cha_dia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>cha_front_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,71},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{23,10}</string>
            </dict>
            <key>cha_front_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,61},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>cha_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,27},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>cha_front_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,44},{15,9}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{15,9}}</string>
                <key>sourceSize</key>
                <string>{23,9}</string>
            </dict>
            <key>cha_left_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{21,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>cha_ruby_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>cha_ruby_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,25},{16,6}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{16,6}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>character.pvr.ccz</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8b114d8d14905d58f76bea2b0c3679a:3f8742c8c09f0bef410d955e2e8d7490:c00d5954cbd88b41a84ddf8f1f8b93fd$</string>
            <key>textureFileName</key>
            <string>character.pvr.ccz</string>
        </dict>
    </dict>
</plist>
