<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,228},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>boss_honeybee_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,4},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>boss_honeybee_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,214},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>boss_honeybee_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,86},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>boss_honeybee_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,86},{44,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,30}</string>
            </dict>
            <key>boss_honeybee_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,214},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>boss_honeybee_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,138},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>boss_honeybee_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{92,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,130}}</string>
                <key>sourceSize</key>
                <string>{94,130}</string>
            </dict>
            <key>boss_honeybee_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,4},{78,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,120}}</string>
                <key>sourceSize</key>
                <string>{78,120}</string>
            </dict>
            <key>boss_honeybee_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,134},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>boss_honeybee_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,138},{50,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,86}}</string>
                <key>sourceSize</key>
                <string>{50,86}</string>
            </dict>
            <key>boss_honeybee_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,86},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_honeybee.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87023c491ce27a1de22c92d90e3d3bc4:734011f378ebd6541b91adc6f2e7314c:296a42a0e1ef2c6c2d154cc2940bd771$</string>
            <key>textureFileName</key>
            <string>boss_honeybee.pvr.ccz</string>
        </dict>
    </dict>
</plist>
