<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,76},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>pumpkin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,266},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>pumpkin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,226},{62,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,118}}</string>
                <key>sourceSize</key>
                <string>{62,118}</string>
            </dict>
            <key>pumpkin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,146},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>pumpkin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{106,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,140}}</string>
                <key>sourceSize</key>
                <string>{106,140}</string>
            </dict>
            <key>pumpkin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,76},{94,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,66}}</string>
                <key>sourceSize</key>
                <string>{94,66}</string>
            </dict>
            <key>pumpkin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,114},{130,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,108}}</string>
                <key>sourceSize</key>
                <string>{130,110}</string>
            </dict>
            <key>pumpkin_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,230},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>pumpkin_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,146},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,80}}</string>
                <key>sourceSize</key>
                <string>{86,80}</string>
            </dict>
            <key>pumpkin_jr_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,4},{100,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,68}}</string>
                <key>sourceSize</key>
                <string>{100,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_pumpkin.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a760f6d42969bdbaaec3455f47cb8f2:200c56a19d857d8c3adf310da04f2875:c624b476e6e48c08c9ed530753829a39$</string>
            <key>textureFileName</key>
            <string>boss_pumpkin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
