<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,90},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>boss_yagyu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,216},{26,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>boss_yagyu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,202},{32,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,96}}</string>
                <key>sourceSize</key>
                <string>{32,100}</string>
            </dict>
            <key>boss_yagyu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,4},{12,8}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{12,8}}</string>
                <key>sourceSize</key>
                <string>{84,10}</string>
            </dict>
            <key>boss_yagyu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,284},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>boss_yagyu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{82,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,130}}</string>
                <key>sourceSize</key>
                <string>{84,134}</string>
            </dict>
            <key>boss_yagyu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,284},{68,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>boss_yagyu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,216},{64,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,90}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>boss_yagyu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,4},{100,124}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,124}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>boss_yagyu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,132},{98,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,66}}</string>
                <key>sourceSize</key>
                <string>{100,66}</string>
            </dict>
            <key>boss_yagyu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,238},{72,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,44}}</string>
                <key>sourceSize</key>
                <string>{72,44}</string>
            </dict>
            <key>boss_yagyu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,90},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{122,122}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>boss_yagyu_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,238},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>boss_yagyu_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,286},{62,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{68,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_yagyu.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43911bd91d5261d43a3a4cbf5916cd90:327a1e3efbd4f2c586793dad8ebd6968:11d8554f2f8a43681464792b90d2b076$</string>
            <key>textureFileName</key>
            <string>boss_yagyu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
