<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,256},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>boss_tree_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,262},{96,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{96,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>boss_tree_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{116,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,138}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>boss_tree_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,146},{112,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,50}}</string>
                <key>sourceSize</key>
                <string>{112,50}</string>
            </dict>
            <key>boss_tree_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,362},{94,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>boss_tree_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,146},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>boss_tree_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,328},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{12,10}</string>
            </dict>
            <key>boss_tree_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,460},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>boss_tree_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,328},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>boss_tree_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,460},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>boss_tree_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,256},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{68,52}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>boss_tree_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,222},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{68,30}</string>
            </dict>
            <key>boss_tree_jr_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,356},{38,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_tree.pvr.ccz</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeaede44c6124c2cd61edf226d51f98a:2d9b5afb597aecd4ad4072a9d785d91b:702938514a1ea87d383892fe6089c5ec$</string>
            <key>textureFileName</key>
            <string>boss_tree.pvr.ccz</string>
        </dict>
    </dict>
</plist>
