<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,148},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>boss_octopus_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,66},{66,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,128}}</string>
                <key>sourceSize</key>
                <string>{66,130}</string>
            </dict>
            <key>boss_octopus_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,198},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{66,20}</string>
            </dict>
            <key>boss_octopus_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{174,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,140}}</string>
                <key>sourceSize</key>
                <string>{174,140}</string>
            </dict>
            <key>boss_octopus_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,208},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{86,52}</string>
            </dict>
            <key>boss_octopus_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,148},{80,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>boss_octopus_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,4},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,68}}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>boss_octopus_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,148},{96,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,56}}</string>
                <key>sourceSize</key>
                <string>{96,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_octopus.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a83be1842765120c8416eb6e5f90e1c:10a26c706e54ded4b97280ffd1f41ef2:57c89821cd46c93807e7559bf976487a$</string>
            <key>textureFileName</key>
            <string>boss_octopus.pvr.ccz</string>
        </dict>
    </dict>
</plist>
