<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,4},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>boss_snake2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,314},{24,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,66}}</string>
                <key>sourceSize</key>
                <string>{26,66}</string>
            </dict>
            <key>boss_snake2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,240},{56,44}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{56,44}}</string>
                <key>sourceSize</key>
                <string>{76,44}</string>
            </dict>
            <key>boss_snake2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,128},{108,132}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{108,132}}</string>
                <key>sourceSize</key>
                <string>{122,134}</string>
            </dict>
            <key>boss_snake2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,270},{34,40}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boss_snake2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,74},{68,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>boss_snake2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,274},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>boss_snake2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,146},{88,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>boss_snake2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,240},{84,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,30}}</string>
                <key>sourceSize</key>
                <string>{84,30}</string>
            </dict>
            <key>boss_snake2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,4},{66,94}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{66,94}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>boss_snake2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{140,120}}</string>
                <key>offset</key>
                <string>{1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{140,120}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>boss_snake2_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,352},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>boss_snake2_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,328},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>boss_snake2_jr_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,270},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>boss_snake2_jr_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,300},{24,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,52}}</string>
                <key>sourceSize</key>
                <string>{24,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_snake2.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8ef9359244dadcf6d9e7f9ea496b973:24b3c6ae32c7ab362b7a5ab9c4fccadb:d960fbb58d3cbd3dd1be5b912bd38dbe$</string>
            <key>textureFileName</key>
            <string>boss_snake2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
