<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,234},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>boss_bee_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,4},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>boss_bee_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,122},{54,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,108}}</string>
                <key>sourceSize</key>
                <string>{54,108}</string>
            </dict>
            <key>boss_bee_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,202},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>boss_bee_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,226},{26,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,50}}</string>
                <key>sourceSize</key>
                <string>{26,50}</string>
            </dict>
            <key>boss_bee_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,4},{70,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,84}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>boss_bee_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,124},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>boss_bee_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{100,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,114}}</string>
                <key>sourceSize</key>
                <string>{100,114}</string>
            </dict>
            <key>boss_bee_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,234},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>boss_bee_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,138},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>boss_bee_jr_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,92},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>boss_bee_jr_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,68},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>boss_bee_jr_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,184},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>boss_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,122},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_bee.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd977e23d7328d71e229d0685a6574e3:674e14f7bd519c453d577d9d1e926327:489c44328bdc071b249ded6af3e19dd1$</string>
            <key>textureFileName</key>
            <string>boss_bee.pvr.ccz</string>
        </dict>
    </dict>
</plist>
