<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,130},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>boss_fox_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,4},{78,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,96}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>boss_fox_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{44,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,140}}</string>
                <key>sourceSize</key>
                <string>{44,140}</string>
            </dict>
            <key>boss_fox_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,4},{18,28}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{44,30}</string>
            </dict>
            <key>boss_fox_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,130},{30,14}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{44,14}</string>
            </dict>
            <key>boss_fox_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,184},{44,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>boss_fox_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,140},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>boss_fox_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,86},{52,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{102,54}</string>
            </dict>
            <key>boss_fox_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,148},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>boss_fox_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,4},{78,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,122}}</string>
                <key>sourceSize</key>
                <string>{80,122}</string>
            </dict>
            <key>boss_fox_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,86},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>boss_fox_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,184},{24,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{24,26}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_fox.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d0b4b8ee055b1ca7ecb433aa10ba98d:d12e09812ae298cdacdc5780eca39374:5b20d3fe333fa7cab53884817d896850$</string>
            <key>textureFileName</key>
            <string>boss_fox.pvr.ccz</string>
        </dict>
    </dict>
</plist>
