<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,52},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>boss_rain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,52},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>boss_rain_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,174},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>boss_rain_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{176,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,44}}</string>
                <key>sourceSize</key>
                <string>{180,44}</string>
            </dict>
            <key>boss_rain_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,86},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>boss_rain_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,220},{90,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,148}}</string>
                <key>sourceSize</key>
                <string>{90,148}</string>
            </dict>
            <key>boss_rain_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,212},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>boss_rain_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,122},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>boss_rain_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,252},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>boss_rain_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,58},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>boss_rain_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,314},{102,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,120}}</string>
                <key>sourceSize</key>
                <string>{102,120}</string>
            </dict>
            <key>boss_rain_jr01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,4},{66,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{66,50}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>boss_rain_jr02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,58},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_rain.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38adee0e77809fdf293060751b9d8ae1:1a39d22681086595b1d47b40d0dede34:59e0458fcfd99c9feb091cdc7920ff78$</string>
            <key>textureFileName</key>
            <string>boss_rain.pvr.ccz</string>
        </dict>
    </dict>
</plist>
