<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,4},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>boss_spider_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,4},{62,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,86}}</string>
                <key>sourceSize</key>
                <string>{62,86}</string>
            </dict>
            <key>boss_spider_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,226},{22,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,48}}</string>
                <key>sourceSize</key>
                <string>{22,48}</string>
            </dict>
            <key>boss_spider_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,120},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>boss_spider_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,178},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,38}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>boss_spider_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,178},{58,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>boss_spider_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,142},{52,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{52,80}</string>
            </dict>
            <key>boss_spider_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{152,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,112}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>boss_spider_jr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,70},{68,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,82}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>boss_spider_jr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,120},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>boss_spider_jr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,176},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_spider.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9c14824957cc4621eb65bf7d54faf25:64444ad1cde51c1aecf9ac7fb0e880c4:782b10825624b9a395004929424f65ff$</string>
            <key>textureFileName</key>
            <string>boss_spider.pvr.ccz</string>
        </dict>
    </dict>
</plist>
