<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,242},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>boss_butterfly_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,58},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>boss_butterfly_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,150},{62,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,24}}</string>
                <key>sourceSize</key>
                <string>{62,24}</string>
            </dict>
            <key>boss_butterfly_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,226},{36,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{36,16}}</string>
                <key>sourceSize</key>
                <string>{52,16}</string>
            </dict>
            <key>boss_butterfly_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,94},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>boss_butterfly_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,58},{18,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,54}}</string>
                <key>sourceSize</key>
                <string>{18,54}</string>
            </dict>
            <key>boss_butterfly_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,128},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>boss_butterfly_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{72,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,122}}</string>
                <key>sourceSize</key>
                <string>{72,122}</string>
            </dict>
            <key>boss_butterfly_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,180},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>boss_butterfly_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,4},{86,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,104}}</string>
                <key>sourceSize</key>
                <string>{86,104}</string>
            </dict>
            <key>boss_butterfly_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,130},{64,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,108}}</string>
                <key>sourceSize</key>
                <string>{68,110}</string>
            </dict>
            <key>boss_butterfly_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,130},{64,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,106}}</string>
                <key>sourceSize</key>
                <string>{68,110}</string>
            </dict>
            <key>boss_butterfly_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,226},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>boss_butterfly_jr01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,178},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,44}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>boss_butterfly_jr02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,242},{20,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,10}</string>
            </dict>
            <key>boss_butterfly_jr03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,4},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>boss_butterfly_jr04.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,94},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_butterfly.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f790a280dacfdce3942cf9b437d7117:d3e8e2008a68e4e817714120085fc50c:269f43e519e7ba42ab295b4e52cf7110$</string>
            <key>textureFileName</key>
            <string>boss_butterfly.pvr.ccz</string>
        </dict>
    </dict>
</plist>
