<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,4},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>boss_cyborg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,4},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,52}}</string>
                <key>sourceSize</key>
                <string>{68,52}</string>
            </dict>
            <key>boss_cyborg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,166},{38,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,82}}</string>
                <key>sourceSize</key>
                <string>{38,82}</string>
            </dict>
            <key>boss_cyborg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,124},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>boss_cyborg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,282},{148,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,150}}</string>
                <key>sourceSize</key>
                <string>{148,150}</string>
            </dict>
            <key>boss_cyborg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,76},{44,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,54}</string>
            </dict>
            <key>boss_cyborg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,354},{100,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,88}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>boss_cyborg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{178,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,152}}</string>
                <key>sourceSize</key>
                <string>{178,152}</string>
            </dict>
            <key>boss_cyborg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,160},{118,162}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,162}}</string>
                <key>sourceSize</key>
                <string>{148,162}</string>
            </dict>
            <key>boss_cyborg_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,208},{102,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,46}}</string>
                <key>sourceSize</key>
                <string>{102,48}</string>
            </dict>
            <key>boss_cyborg_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,208},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>boss_cyborg_jr_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,314},{92,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,36}}</string>
                <key>sourceSize</key>
                <string>{92,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_cyborg.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71353c947f0bb7f3733ed799c1744fc5:ccae1ba6bc6467d08d4eb8109a312a4f:d261992d3bb4cf9d7ef0077af8078eac$</string>
            <key>textureFileName</key>
            <string>boss_cyborg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
