<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,132},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>boss_alice_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,116},{38,12}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{38,12}}</string>
                <key>sourceSize</key>
                <string>{54,20}</string>
            </dict>
            <key>boss_alice_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,206},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>boss_alice_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,148},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>boss_alice_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,200},{44,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,30}</string>
            </dict>
            <key>boss_alice_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,232},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>boss_alice_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,148},{80,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,126}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>boss_alice_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,4},{42,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,64}}</string>
                <key>sourceSize</key>
                <string>{42,64}</string>
            </dict>
            <key>boss_alice_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{140,202}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,202}}</string>
                <key>sourceSize</key>
                <string>{140,210}</string>
            </dict>
            <key>boss_alice_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,248},{22,30}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>boss_alice_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,132},{32,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>boss_alice_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,200},{20,8}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,8}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>boss_alice_jr01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,72},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>boss_alice_jr02.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,232},{18,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>boss_alice_jr03.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,232},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>boss_alice_jr04.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,168},{32,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_alice.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cb2d329ada3d4416bff8743b638b8cb:5708f6b9149995be5d7894a74e067f3d:88a7df9ec330cbaf3475d2c47cba09c8$</string>
            <key>textureFileName</key>
            <string>boss_alice.pvr.ccz</string>
        </dict>
    </dict>
</plist>
