<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,37},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>boss_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{33,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,43}}</string>
                <key>sourceSize</key>
                <string>{33,43}</string>
            </dict>
            <key>boss_stone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,37},{31,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,39}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
            <key>boss_stone_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>boss_stone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{40,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>boss_stone_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>boss_stone_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,44},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>boss_stone_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,38},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_stone.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fee5e35bc865acb71899c6c375f259c:6cfbd06d39b5245b1b5ce8e984833e36:fd2093c7e8e21a138b5107738555adc1$</string>
            <key>textureFileName</key>
            <string>boss_stone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
