<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>boss_cyborg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>boss_cyborg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,83},{19,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,41}}</string>
                <key>sourceSize</key>
                <string>{19,41}</string>
            </dict>
            <key>boss_cyborg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,62},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>boss_cyborg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>boss_cyborg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,38},{22,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>boss_cyborg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,177},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>boss_cyborg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,76}}</string>
                <key>sourceSize</key>
                <string>{89,76}</string>
            </dict>
            <key>boss_cyborg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{59,81}}</string>
                <key>offset</key>
                <string>{-7.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{74,81}</string>
            </dict>
            <key>boss_cyborg_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,104},{51,23}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,23}}</string>
                <key>sourceSize</key>
                <string>{51,24}</string>
            </dict>
            <key>boss_cyborg_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,104},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>boss_cyborg_jr_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,157},{46,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,18}}</string>
                <key>sourceSize</key>
                <string>{46,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_cyborg.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71353c947f0bb7f3733ed799c1744fc5:ccae1ba6bc6467d08d4eb8109a312a4f:d261992d3bb4cf9d7ef0077af8078eac$</string>
            <key>textureFileName</key>
            <string>boss_cyborg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
