<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,65},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>boss_fox_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{39,48}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{39,48}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>boss_fox_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,70}}</string>
                <key>sourceSize</key>
                <string>{22,70}</string>
            </dict>
            <key>boss_fox_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{9,14}}</string>
                <key>offset</key>
                <string>{5.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{9,14}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
            <key>boss_fox_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,65},{15,7}}</string>
                <key>offset</key>
                <string>{-2.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{15,7}}</string>
                <key>sourceSize</key>
                <string>{22,7}</string>
            </dict>
            <key>boss_fox_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,92},{22,28}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>boss_fox_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,70},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>boss_fox_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,43},{26,26}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{51,27}</string>
            </dict>
            <key>boss_fox_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>boss_fox_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{39,61}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,61}}</string>
                <key>sourceSize</key>
                <string>{40,61}</string>
            </dict>
            <key>boss_fox_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,43},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>boss_fox_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,92},{12,13}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{12,13}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_fox.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:444cdf42dca2ae84646f1426d3d7611a:c5ce5ae08f2e7466b7cab431080100cb:5b20d3fe333fa7cab53884817d896850$</string>
            <key>textureFileName</key>
            <string>boss_fox.pvr.ccz</string>
        </dict>
    </dict>
</plist>
