<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,74},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>boss_octopus_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,33},{33,64}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,64}}</string>
                <key>sourceSize</key>
                <string>{33,65}</string>
            </dict>
            <key>boss_octopus_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,99},{21,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{33,10}</string>
            </dict>
            <key>boss_octopus_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,70}}</string>
                <key>sourceSize</key>
                <string>{87,70}</string>
            </dict>
            <key>boss_octopus_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>boss_octopus_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,74},{40,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,31}}</string>
                <key>sourceSize</key>
                <string>{40,31}</string>
            </dict>
            <key>boss_octopus_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>boss_octopus_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_octopus.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a83be1842765120c8416eb6e5f90e1c:10a26c706e54ded4b97280ffd1f41ef2:57c89821cd46c93807e7559bf976487a$</string>
            <key>textureFileName</key>
            <string>boss_octopus.pvr.ccz</string>
        </dict>
    </dict>
</plist>
