<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,53},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>boss_snow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,35},{14,30}}</string>
                <key>offset</key>
                <string>{-1,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,30}}</string>
                <key>sourceSize</key>
                <string>{18,31}</string>
            </dict>
            <key>boss_snow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,102},{24,17}}</string>
                <key>offset</key>
                <string>{10.5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{24,17}}</string>
                <key>sourceSize</key>
                <string>{45,23}</string>
            </dict>
            <key>boss_snow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{15,25}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{15,25}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>boss_snow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,53}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{34,53}}</string>
                <key>sourceSize</key>
                <string>{46,55}</string>
            </dict>
            <key>boss_snow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{41,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{41,51}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>boss_snow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{34,31}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>boss_snow_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,53},{47,38}}</string>
                <key>offset</key>
                <string>{5.5,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{47,38}}</string>
                <key>sourceSize</key>
                <string>{60,39}</string>
            </dict>
            <key>boss_snow_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{18,49}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,49}}</string>
                <key>sourceSize</key>
                <string>{20,50}</string>
            </dict>
            <key>boss_snow_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,35},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>boss_snow_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,110},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_snow.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2ab75d4f8f0343bd5b32a60d152610e:44be7b3b409cdbec1d3e2f12836517f1:d9bb58355e799bf3da186abaaf715280$</string>
            <key>textureFileName</key>
            <string>boss_snow.pvr.ccz</string>
        </dict>
    </dict>
</plist>
