<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>boss_maid_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,35},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{27,37}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
            <key>boss_maid_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,27}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>boss_maid_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,68}}</string>
                <key>sourceSize</key>
                <string>{50,70}</string>
            </dict>
            <key>boss_maid_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{40,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,31}}</string>
                <key>sourceSize</key>
                <string>{40,31}</string>
            </dict>
            <key>boss_maid_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>boss_maid_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,72},{40,44}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>boss_maid_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,118},{10,7}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,7}}</string>
                <key>sourceSize</key>
                <string>{10,8}</string>
            </dict>
            <key>boss_maid_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,31},{25,24}}</string>
                <key>offset</key>
                <string>{-1,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,24}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>boss_maid_jr_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,118},{8,11}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_maid.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddccf46e88ac6784481515e08ccd481f:631651e0b7cb669d93b6db0473083020:92119c3bcd25888ddcbc3ec4ee25e885$</string>
            <key>textureFileName</key>
            <string>boss_maid.pvr.ccz</string>
        </dict>
    </dict>
</plist>
