<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,56},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>boss_mummy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{60,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,63}}</string>
                <key>sourceSize</key>
                <string>{60,63}</string>
            </dict>
            <key>boss_mummy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,56},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,8}</string>
            </dict>
            <key>boss_mummy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,82},{66,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,12}}</string>
                <key>sourceSize</key>
                <string>{66,12}</string>
            </dict>
            <key>boss_mummy_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,66},{27,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,41}}</string>
                <key>sourceSize</key>
                <string>{27,41}</string>
            </dict>
            <key>boss_mummy_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>boss_mummy_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,96}}</string>
                <key>sourceSize</key>
                <string>{60,96}</string>
            </dict>
            <key>boss_mummy_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{51,73}}</string>
                <key>offset</key>
                <string>{2,-1.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{51,73}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>boss_mummy_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,22},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>boss_mummy_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,150},{38,51}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>boss_mummy_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,117},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>boss_mummy_jr_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,64},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_mummy.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:173a8dd5d6e59a0cae21c08ce1f5f827:94b9e6766fa862d6f1954e26c9e944ca:f56c97eb7381d2cdc6d1ee77160c0923$</string>
            <key>textureFileName</key>
            <string>boss_mummy.pvr.ccz</string>
        </dict>
    </dict>
</plist>
