<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>boss_monk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,80},{37,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,46}}</string>
                <key>sourceSize</key>
                <string>{37,46}</string>
            </dict>
            <key>boss_monk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,116},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>boss_monk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,134},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>boss_monk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>boss_monk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
            <key>boss_monk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,119},{34,13}}</string>
                <key>offset</key>
                <string>{-0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{34,13}}</string>
                <key>sourceSize</key>
                <string>{35,15}</string>
            </dict>
            <key>boss_monk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,34},{38,44}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,45}</string>
            </dict>
            <key>boss_monk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,47}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{79,47}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>boss_monk_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{63,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,73}}</string>
                <key>sourceSize</key>
                <string>{65,75}</string>
            </dict>
            <key>boss_monk_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{39,30}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{39,30}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>boss_monk_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,119},{28,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,11}}</string>
                <key>sourceSize</key>
                <string>{28,11}</string>
            </dict>
            <key>boss_monk_jr_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,134},{10,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,15}}</string>
                <key>sourceSize</key>
                <string>{10,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_monk.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e9b41310a60da16e4c9dac24283d817:7c80f8bdea3fc19f0d754098b2d036de:98d8682675ee807cedb094b1ad5449f2$</string>
            <key>textureFileName</key>
            <string>boss_monk.pvr.ccz</string>
        </dict>
    </dict>
</plist>
