<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>boss_soldier_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,99}}</string>
                <key>sourceSize</key>
                <string>{31,99}</string>
            </dict>
            <key>boss_soldier_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,31},{18,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>boss_soldier_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{66,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>boss_soldier_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>boss_soldier_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,99},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>boss_soldier_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{27,19}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{27,19}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>boss_soldier_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,35},{6,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,9}}</string>
                <key>sourceSize</key>
                <string>{6,9}</string>
            </dict>
            <key>boss_soldier_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,65},{32,43}}</string>
                <key>offset</key>
                <string>{0,5.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{32,43}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>boss_soldier_jr_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,35},{25,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,12}}</string>
                <key>sourceSize</key>
                <string>{25,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_soldier.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33b620839089de9c8ec1cf2860e1ad47:f67674ac8a55b33b03e2636acfe90fa7:c8dcdab02c7b36418e04776d2bc44303$</string>
            <key>textureFileName</key>
            <string>boss_soldier.pvr.ccz</string>
        </dict>
    </dict>
</plist>
