<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>boss_honeybee_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>boss_honeybee_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,107},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>boss_honeybee_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,43},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>boss_honeybee_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,43},{22,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,15}}</string>
                <key>sourceSize</key>
                <string>{22,15}</string>
            </dict>
            <key>boss_honeybee_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,107},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>boss_honeybee_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,69},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>boss_honeybee_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,65}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,65}}</string>
                <key>sourceSize</key>
                <string>{47,65}</string>
            </dict>
            <key>boss_honeybee_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{39,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,60}}</string>
                <key>sourceSize</key>
                <string>{39,60}</string>
            </dict>
            <key>boss_honeybee_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,67},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>boss_honeybee_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>boss_honeybee_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,43},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_honeybee.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef7c96a9c3bd9da801f2a34879048e68:eaa1c936359b4333a840ed21bbcec72f:296a42a0e1ef2c6c2d154cc2940bd771$</string>
            <key>textureFileName</key>
            <string>boss_honeybee.pvr.ccz</string>
        </dict>
    </dict>
</plist>
