<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>boss_snake2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,157},{12,33}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,33}}</string>
                <key>sourceSize</key>
                <string>{13,33}</string>
            </dict>
            <key>boss_snake2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,120},{28,22}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>boss_snake2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{54,66}}</string>
                <key>offset</key>
                <string>{3.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{54,66}}</string>
                <key>sourceSize</key>
                <string>{61,67}</string>
            </dict>
            <key>boss_snake2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,135},{17,20}}</string>
                <key>offset</key>
                <string>{-1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>boss_snake2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,37},{34,45}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{35,45}</string>
            </dict>
            <key>boss_snake2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>boss_snake2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,73},{44,60}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>boss_snake2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{42,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,15}}</string>
                <key>sourceSize</key>
                <string>{42,15}</string>
            </dict>
            <key>boss_snake2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{33,47}}</string>
                <key>offset</key>
                <string>{-1.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>boss_snake2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,60}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{73,60}</string>
            </dict>
            <key>boss_snake2_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>boss_snake2_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,164},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>boss_snake2_jr_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,135},{37,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,31}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>boss_snake2_jr_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,150},{12,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,26}}</string>
                <key>sourceSize</key>
                <string>{12,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_snake2.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8ef9359244dadcf6d9e7f9ea496b973:24b3c6ae32c7ab362b7a5ab9c4fccadb:d960fbb58d3cbd3dd1be5b912bd38dbe$</string>
            <key>textureFileName</key>
            <string>boss_snake2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
