<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>boss_succubus_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,29},{25,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,14}}</string>
                <key>sourceSize</key>
                <string>{25,14}</string>
            </dict>
            <key>boss_succubus_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{34,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>boss_succubus_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,68}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,68}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>boss_succubus_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,72},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>boss_succubus_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,18},{26,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,15}}</string>
                <key>sourceSize</key>
                <string>{26,15}</string>
            </dict>
            <key>boss_succubus_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>boss_succubus_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,106},{18,17}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>boss_succubus_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>boss_succubus_jr_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>boss_succubus_jr_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,106},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,14}}</string>
                <key>sourceSize</key>
                <string>{19,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_succubus.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03b06e3758d729343835044fca6f0716:e5a447bb7ce42a4c29bce756c20c6e95:641d640808cb514b7652a7f567086894$</string>
            <key>textureFileName</key>
            <string>boss_succubus.pvr.ccz</string>
        </dict>
    </dict>
</plist>
