@charset "utf-8";

/* common */
@font-face{
font-family:NanumGothic;
src:url(http://images.toast.co.kr/toast/portal/mobile/font/NanumGothic.eot);
src:local(※), url(http://images.toast.co.kr/toast/portal/mobile/font/NanumGothic.woff) format(‘woff’)
}

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:NanumGothic,"나눔고딕",Helvetica,'돋움',Dotum;font-size:12px;line-height:1.25}
body{color:#565960;-webkit-text-size-adjust:none}
img,fieldset,button{border:0}
em,address{font-style:normal}
.blind,hr,legend{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}

/* layout */
html,body{height:100%}
#wrap{position:relative;min-height:100%}
#container{overflow:hidden;padding-bottom:90px}
#content{margin:0 auto}
#header{padding-left:10px;height:45px;line-height:45px;background-color:#ff1414;border:1px solid #ff5454;border-bottom:1px solid #d60000;text-align:center}
#header h1,#header h1.tit2{font-size:18px;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,.2);-webkit-text-shadow:0 1px 0 rgba(0,0,0,.2);font-weight:bold}
#content{max-width:100%;padding:0 15px}
#header h1.logo,.ad_area,.limit .txt br,#div_capslock,.pc_tit{display:none}
#footer{overflow:hidden;position:absolute;bottom:0;width:100%;height:40px;line-height:40px;text-align:center;color:#babbc4;font-size:11px;background-color:#fbfcff;border-top:1px solid #f2f3f5}

.info{margin:0 15px 25px;padding-bottom:38px}
.info .img{margin:40px 0 13px;text-align:center}
.info .desc{text-align:center}
.info .desc strong{font-size:16px}
.info .desc p{padding:6px 0 8px;font-size:12px;color:#95969e}