<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nhnent.SKSUMRAN"
    android:versionCode="13"
    android:versionName="1.1.2" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-feature android:glEsVersion="0x00020000" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <application
        android:name=".CrashApplication"
        android:allowBackup="true"

        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="org.acra.CrashReportDialog"
            android:theme="@android:style/Theme.Dialog"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true" />
        <meta-data android:name="igaworks_app_key" android:value="423654496"/>
		<meta-data android:name="igaworks_hash_key" android:value="10afd56431d74f03"/>
		<meta-data android:name="igaworks_market_info" android:value="tstore" />
        
        <meta-data
            android:name="io.fiverocks.android.appstore"
            android:value="TStore" />
        <!-- <meta-data android:name="USEQASERVER" android:value="ON" /> 
        <meta-data
            android:name="APP_NAME"
            android:value="com.nhnent.SKSUMRAN" /> 
        <meta-data
            android:name="ADX_CLIENT_ID"
            android:value="nhntrt809531jdr" /> -->

        <receiver
            android:name="io.fiverocks.android.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.gcm.intent.RETRY" />

                <category android:name="com.nhnent.SKSUMRAN" />
            </intent-filter>
        </receiver>
        <!-- <receiver
            android:name="com.hangame.hsp.referrer.InstallReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter> 
        </receiver> -->
        <receiver android:name="io.fiverocks.android.FiveRocksReceiver" />
		<receiver
		    android:name="com.igaworks.IgawReceiver"
		    android:exported="true" >
		    <intent-filter>
		        <action android:name="com.android.vending.INSTALL_REFERRER" />
		    </intent-filter>

		    <meta-data
		        android:name="forward"
		        android:value="com.hangame.hsp.referrer.InstallReceiver" />
		</receiver>
		<receiver android:name="com.hangame.hsp.push.NPushBroadcastReceiver" >
            <intent-filter>

                <!-- Push Message 를 받기 위한 Intent-Filter. -->
                <action android:name="com.nhn.nni.intent.RECEIVE" />
                <!-- Target ID (=Registration ID) 를 받기 위한 Intent-Filter. -->
                <action android:name="com.nhn.nni.intent.REGISTRATION" />
                <action android:name="com.nhn.nni.intent.EVENT" />

                <!-- TODO: fill package name -->
                <category android:name="com.nhnent.SKSUMRAN" />
`
            </intent-filter>
            <intent-filter>

                <!--
                    nPush 가 강제종료 당했을 때 살리기 위해서 여러 BroadCast 를 등록해놓고 alive 를 체크한다. 
					- 폰이 부팅되었을 때
					- Google Talk 이 연결되었을 때
					- AC 혹은 USB 케이블을 연결했을 때
					- AC 혹은 USB 케이블을 연결 해제했을 때
					- 네트워크 상태가 변경되었을 때 (on/off 혹은 망 전환)
                -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.GTALK_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

       
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/google_app_id" />
        <meta-data
            android:name="com.google.android.gms.appstate.APP_ID"
            android:value="@string/google_app_id" />

        <activity
            android:name="com.nhnent.SKSUMRAN.DGproto"
            android:configChanges="orientation|screenSize|locale|keyboardHidden|layoutDirection"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            
<!--             android:process=":TestGame" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.toastgamenew.hsp.auth.login.GoogleLoginActivity"
            android:configChanges="orientation|screenSize|locale|keyboardHidden|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" 
            >
        </activity>
        <!-- facebook -->
        <activity
            android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" 
            android:screenOrientation="sensorLandscape"
            >
        </activity>

        <!-- kamcord -->
        <!--
         	<activity
		    android:name="com.kamcord.android.KamcordActivity"
		    android:launchMode="singleTask"
		    android:configChanges="keyboardHidden|keyboard"
		    android:windowSoftInputMode="stateHidden|adjustPan"
		    android:windowActionBar="false"
		    android:theme="@style/KamcordTheme"
		    android:hardwareAccelerated="true"
		    
		    >
		</activity>
		
		<activity
		    android:name="com.kamcord.android.ReplayActivity"
		    android:label="Watch"
		    android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
		    android:launchMode="singleTask"
		    android:parentActivityName="com.kamcord.android.KamcordActivity"
		    android:configChanges="orientation|screenSize|keyboardHidden"
		    android:hardwareAccelerated="true"
		   > 
		    <meta-data
		        android:name="android.support.PARENT_ACTIVITY"
		        android:value="com.kamcord.android.KamcordActivity" />
		</activity>
		
		<activity
		    android:name="com.kamcord.android.WebActivity"
		    android:label="Login"
		    android:theme="@style/KamcordLoginTheme"
		    android:launchMode="singleTask"
		    android:parentActivityName="com.kamcord.android.KamcordActivity"
		    android:configChanges="orientation|screenSize|keyboardHidden" 
		   > 
		    <meta-data
		        android:name="android.support.PARENT_ACTIVITY"
		        android:value="com.kamcord.android.KamcordActivity" />
		</activity>
        -->


        <!-- HSP Activity Begin -->
        
                <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|layoutDirection" 
                    android:finishOnTaskLaunch="true" android:name="com.hangame.hsp.ui.HSPUiActivity" 
                    android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
        <!-- HSP Activity End -->


        <!-- [HSP SDK] NPush Global begin -->
        

        <!-- NNI 클라이언트에서 사용하는 서비스 -->
        <service
            android:name="com.nhn.nni.NNIMessageService"
            android:exported="true"
            android:label="NHN Notification Infra"
            android:process="com.nhn.nni" >
            <intent-filter android:priority="1" >
                <action android:name="com.nhn.nni.intent.REGISTER" />
                <action android:name="com.nhn.nni.intent.UNREGISTER" />
                <action android:name="com.nhn.nni.intent.GET_STATE" />
            </intent-filter>
        </service>
        <service android:name="com.hangame.hsp.push.NPushIntentService" />
        <!-- [HSP SDK] NPush Global end -->


        <!-- [HSP SDK] NPush begin -->
        <activity
            android:name="com.hangame.hsp.push.HSPPushActivity"
            android:label="HSP Push"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
          	>
            <intent-filter>
                <action android:name="com.hangame.hsp.action.PUSH" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- [HSP SDK] NPush end -->
        
        <!-- [HSP SDK] Payment TStore Activity & Receiver Begin -->


        <!-- T Store 빌드 시에만 사용해 주세요. -->
        <activity
            android:name="com.skplanet.dodo.IapWeb"
            android:configChanges="orientation|screenSize|locale|keyboardHidden|layoutDirection"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="iap:api_version"
            android:value="2" />
        <!-- [HSP SDK] Payment TStore Activity & Receiver End -->


    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <!-- HSP permission begin -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" /> -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- GCM requires a Google account. -->

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 부팅 완료 후에 바로 NNI 서비스 시작 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 알림에서 사용. 앱이 절전모드에서 빠져나올수 있도록함 -->

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
   	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" /> 

    <permission
        android:name="com.nhnent.SKSUMRAN.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.nhnent.SKSUMRAN.permission.C2D_MESSAGE" />

    <!-- HSP permission end -->


    <!-- [HSP SDK] NPush Global permission begin -->
    <!-- TODO: fill package name -->
    <permission
        android:name="com.nhnent.SKSUMRAN.permission.NNI_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.nhnent.SKSUMRAN.permission.NNI_MESSAGE" />
    <!-- [HSP SDK] NPush Global permission end -->
    <!-- [HSP SDK] Payment TStore SMS Permission Begin -->
    <!-- T Store 빌드 시에만 사용해 주세요. -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    
    <!-- [HSP SDK] Payment TStore SMS Permission End -->

</manifest>