<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,494},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>yomi_back_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{146,160}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{146,160}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>yomi_back_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,168},{160,116}}</string>
                <key>offset</key>
                <string>{6,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,78},{160,116}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>yomi_back_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,474},{36,32}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,64},{36,32}}</string>
                <key>sourceSize</key>
                <string>{134,96}</string>
            </dict>
            <key>yomi_back_riborn.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,474},{100,26}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,56},{100,26}}</string>
                <key>sourceSize</key>
                <string>{134,96}</string>
            </dict>
            <key>yomi_front_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,316},{110,70}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{110,70}}</string>
                <key>sourceSize</key>
                <string>{134,96}</string>
            </dict>
            <key>yomi_front_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,430},{70,82}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,14},{70,82}}</string>
                <key>sourceSize</key>
                <string>{134,96}</string>
            </dict>
            <key>yomi_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,288},{64,20}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{64,20}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>yomi_front_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,4},{144,156}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{144,156}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>yomi_front_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,332},{158,152}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,40},{158,152}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>yomi_front_riborn.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,4},{84,50}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{84,50}}</string>
                <key>sourceSize</key>
                <string>{134,96}</string>
            </dict>
            <key>yomi_side_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,164},{120,62}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{120,62}}</string>
                <key>sourceSize</key>
                <string>{134,96}</string>
            </dict>
            <key>yomi_side_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,88},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>yomi_side_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,58},{82,80}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{82,80}}</string>
                <key>sourceSize</key>
                <string>{134,96}</string>
            </dict>
            <key>yomi_side_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,4},{82,80}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{82,80}}</string>
                <key>sourceSize</key>
                <string>{134,96}</string>
            </dict>
            <key>yomi_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,288},{56,24}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,24}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>yomi_side_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,168},{142,158}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{142,158}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>yomi_side_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,330},{140,108}}</string>
                <key>offset</key>
                <string>{16,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,70},{140,108}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_yomi.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35d86f438b57070d12804ebd40b03c02:d0df75f85be85bc453ba955e26814c3d:fa8cdf03437017b0db5a047743936408$</string>
            <key>textureFileName</key>
            <string>cha_yomi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
