<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,4},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hibari_back_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,210},{34,34}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{34,34}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hibari_back_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,430},{52,46}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,64},{52,46}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>hibari_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,4},{188,148}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{188,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hibari_back_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,156},{92,42}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{92,42}}</string>
                <key>sourceSize</key>
                <string>{112,70}</string>
            </dict>
            <key>hibari_front_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,156},{48,50}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,60},{48,50}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>hibari_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,156},{82,34}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{82,34}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>hibari_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{188,148}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{188,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hibari_front_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,430},{56,46}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>hibari_side_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,210},{26,44}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{26,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hibari_side_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,430},{70,22}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{70,22}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>hibari_side_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,130},{122,106}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{122,106}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>hibari_side_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,4},{122,108}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{122,108}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>hibari_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,430},{78,38}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>hibari_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,256},{170,150}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{170,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_hibari.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf3e1399ebf80fbc5087fbf077449d88:9e13f4c66264137b63ef130cb1df1857:a270d707d87af3722f1c494ef50b8ba5$</string>
            <key>textureFileName</key>
            <string>cha_hibari.pvr.ccz</string>
        </dict>
    </dict>
</plist>
