<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,4},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>haruka_back_coat.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,4},{162,88}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{162,88}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>haruka_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,4},{146,154}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{146,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>haruka_back_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,332},{50,64}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,36},{50,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>haruka_front_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,230},{84,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{84,50}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>haruka_front_coat.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{174,94}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{174,94}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>haruka_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,316},{80,18}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{80,18}}</string>
                <key>sourceSize</key>
                <string>{132,50}</string>
            </dict>
            <key>haruka_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,96},{144,154}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{144,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>haruka_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,318},{50,64}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,36},{50,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>haruka_front_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,386},{50,50}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>haruka_ribron.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,184},{108,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{108,64}}</string>
                <key>sourceSize</key>
                <string>{128,84}</string>
            </dict>
            <key>haruka_side_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,176},{50,26}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{50,26}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>haruka_side_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,252},{76,90}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{76,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>haruka_side_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,244},{68,90}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{68,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>haruka_side_coat.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,102},{126,78}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{126,78}}</string>
                <key>sourceSize</key>
                <string>{200,140}</string>
            </dict>
            <key>haruka_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,102},{70,34}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{70,34}}</string>
                <key>sourceSize</key>
                <string>{132,50}</string>
            </dict>
            <key>haruka_side_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,154},{148,122}}</string>
                <key>offset</key>
                <string>{-14,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{148,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>haruka_side_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,244},{72,84}}</string>
                <key>offset</key>
                <string>{-54,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,60},{72,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_haruka.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7dee7d42fd6b81ddc3bf705329a3711:04581e6bd616ca2c7af4e008f1e9288b:dab2a0548a611446e31201d184844ffb$</string>
            <key>textureFileName</key>
            <string>cha_haruka.pvr.ccz</string>
        </dict>
    </dict>
</plist>
