<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,4},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>katsuragi_back_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,4},{146,150}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{146,150}}</string>
                <key>sourceSize</key>
                <string>{152,200}</string>
            </dict>
            <key>katsuragi_back_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,352},{136,142}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{136,142}}</string>
                <key>sourceSize</key>
                <string>{152,200}</string>
            </dict>
            <key>katsuragi_back_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,252},{62,94}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{62,94}}</string>
                <key>sourceSize</key>
                <string>{72,110}</string>
            </dict>
            <key>katsuragi_front_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,318},{26,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{26,42}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>katsuragi_front_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,318},{48,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{48,24}}</string>
                <key>sourceSize</key>
                <string>{56,34}</string>
            </dict>
            <key>katsuragi_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,174},{72,22}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{72,22}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>katsuragi_front_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,154},{146,140}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{146,140}}</string>
                <key>sourceSize</key>
                <string>{152,200}</string>
            </dict>
            <key>katsuragi_front_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,174},{140,140}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{140,140}}</string>
                <key>sourceSize</key>
                <string>{152,200}</string>
            </dict>
            <key>katsuragi_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,190},{58,102}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{58,102}}</string>
                <key>sourceSize</key>
                <string>{72,110}</string>
            </dict>
            <key>katsuragi_side_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,312},{18,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,36}}</string>
                <key>sourceSize</key>
                <string>{20,40}</string>
            </dict>
            <key>katsuragi_side_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,252},{56,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{56,20}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>katsuragi_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,318},{60,30}}</string>
                <key>offset</key>
                <string>{-29,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,30}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>katsuragi_side_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,352},{136,138}}</string>
                <key>offset</key>
                <string>{-28,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,14},{136,138}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>katsuragi_side_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{232,166}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{232,166}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>katsuragi_side_leg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,102},{84,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{84,102}}</string>
                <key>sourceSize</key>
                <string>{136,104}</string>
            </dict>
            <key>katsuragi_side_leg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,4},{106,94}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{106,94}}</string>
                <key>sourceSize</key>
                <string>{136,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_katsuragi.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31c7f20406a1cccbd605d96191b336b3:21fc6c1bf35d6d4ffd6cee162c18e7b0:32cdefe4dfa924468c4a142513a23531$</string>
            <key>textureFileName</key>
            <string>cha_katsuragi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
