<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,4},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>asuka_back_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,4},{100,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,46}}</string>
                <key>sourceSize</key>
                <string>{106,48}</string>
            </dict>
            <key>asuka_back_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,266},{52,38}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{52,38}}</string>
                <key>sourceSize</key>
                <string>{78,54}</string>
            </dict>
            <key>asuka_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{196,166}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{196,166}}</string>
                <key>sourceSize</key>
                <string>{200,168}</string>
            </dict>
            <key>asuka_back_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,122},{82,58}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{82,58}}</string>
                <key>sourceSize</key>
                <string>{94,66}</string>
            </dict>
            <key>asuka_front_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,322},{28,30}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{28,30}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>asuka_front_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,54},{94,64}}</string>
                <key>offset</key>
                <string>{11,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{94,64}}</string>
                <key>sourceSize</key>
                <string>{116,65}</string>
            </dict>
            <key>asuka_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,254},{76,28}}</string>
                <key>offset</key>
                <string>{-1,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{76,28}}</string>
                <key>sourceSize</key>
                <string>{82,39}</string>
            </dict>
            <key>asuka_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,4},{188,162}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{188,162}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>asuka_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,184},{78,66}}</string>
                <key>offset</key>
                <string>{2,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,66}}</string>
                <key>sourceSize</key>
                <string>{82,65}</string>
            </dict>
            <key>asuka_side_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,122},{20,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{22,42}</string>
            </dict>
            <key>asuka_side_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,422},{54,18}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{54,18}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>asuka_side_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,166},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>asuka_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,354},{64,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{68,30}</string>
            </dict>
            <key>asuka_side_foot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,188},{34,40}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{34,40}}</string>
                <key>sourceSize</key>
                <string>{50,42}</string>
            </dict>
            <key>asuka_side_foot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,232},{34,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,30}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>asuka_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,170},{182,170}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{182,170}}</string>
                <key>sourceSize</key>
                <string>{200,176}</string>
            </dict>
            <key>asuka_slde_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,286},{70,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{70,64}}</string>
                <key>sourceSize</key>
                <string>{82,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_asuka.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fe93b8ee9974ff1edd1b77ee5788f7f:9ce5d662b4bf71ac4edfa72c7426dfc8:58324c4c4873b31241f32a056deb0b00$</string>
            <key>textureFileName</key>
            <string>cha_asuka.pvr.ccz</string>
        </dict>
    </dict>
</plist>
