<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,172},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>ryoubi_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,172},{140,124}}</string>
                <key>offset</key>
                <string>{-9,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{140,124}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>ryoubi_back_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,372},{112,56}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,48},{112,56}}</string>
                <key>sourceSize</key>
                <string>{240,110}</string>
            </dict>
            <key>ryoubi_back_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,194},{174,86}}</string>
                <key>offset</key>
                <string>{31,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,4},{174,86}}</string>
                <key>sourceSize</key>
                <string>{240,110}</string>
            </dict>
            <key>ryoubi_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,86},{78,26}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{78,26}}</string>
                <key>sourceSize</key>
                <string>{98,50}</string>
            </dict>
            <key>ryoubi_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{140,186}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{140,186}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>ryoubi_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,366},{110,58}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,46},{110,58}}</string>
                <key>sourceSize</key>
                <string>{240,110}</string>
            </dict>
            <key>ryoubi_front_top1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,4},{164,74}}</string>
                <key>offset</key>
                <string>{-26,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{164,74}}</string>
                <key>sourceSize</key>
                <string>{240,110}</string>
            </dict>
            <key>ryoubi_front_top2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,316},{76,52}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,18},{76,52}}</string>
                <key>sourceSize</key>
                <string>{240,110}</string>
            </dict>
            <key>ryoubi_hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,372},{72,130}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{72,130}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>ryoubi_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,480},{70,28}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{70,28}}</string>
                <key>sourceSize</key>
                <string>{98,50}</string>
            </dict>
            <key>ryoubi_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,372},{132,172}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{132,172}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>ryoubi_side_leg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,316},{52,40}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{52,40}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>ryoubi_side_leg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,316},{46,42}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{46,42}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>ryoubi_side_top1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,194},{174,76}}</string>
                <key>offset</key>
                <string>{-31,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{174,76}}</string>
                <key>sourceSize</key>
                <string>{240,110}</string>
            </dict>
            <key>ryoubi_side_top2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,4},{92,78}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,20},{92,78}}</string>
                <key>sourceSize</key>
                <string>{240,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_ryoubi.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a75cbcb31e52c2dcc233384099d5767:ad1b0cc6f4fd9aa2c360ce55f6f93c34:252b18afa7e5c936bae273e532d43e17$</string>
            <key>textureFileName</key>
            <string>cha_ryoubi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
