<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,4},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>asuka_back_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,56},{98,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{98,46}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>asuka_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{196,164}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{196,164}}</string>
                <key>sourceSize</key>
                <string>{200,206}</string>
            </dict>
            <key>asuka_back_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,398},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{66,56}}</string>
                <key>sourceSize</key>
                <string>{74,56}</string>
            </dict>
            <key>asuka_front_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,174},{26,30}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{26,30}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>asuka_front_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,106},{94,64}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{94,64}}</string>
                <key>sourceSize</key>
                <string>{118,68}</string>
            </dict>
            <key>asuka_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,276},{74,24}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,16},{74,24}}</string>
                <key>sourceSize</key>
                <string>{144,46}</string>
            </dict>
            <key>asuka_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,4},{186,156}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{186,156}}</string>
                <key>sourceSize</key>
                <string>{200,206}</string>
            </dict>
            <key>asuka_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,250},{76,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{82,66}</string>
            </dict>
            <key>asuka_side_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,354},{20,40}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>asuka_side_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,4},{102,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,2},{102,48}}</string>
                <key>sourceSize</key>
                <string>{200,52}</string>
            </dict>
            <key>asuka_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,204},{68,26}}</string>
                <key>offset</key>
                <string>{-30,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{68,26}}</string>
                <key>sourceSize</key>
                <string>{144,46}</string>
            </dict>
            <key>asuka_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,164},{184,176}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{184,176}}</string>
                <key>sourceSize</key>
                <string>{200,206}</string>
            </dict>
            <key>asuka_slde_bottom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,174},{72,80}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{72,80}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>asuka_slde_bottom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,320},{72,74}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{72,74}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_asuka.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b352c62be6a90bc5b2b20b0f652ebc43:e2d8ba290e5287d8899b7d73e851b7f6:58324c4c4873b31241f32a056deb0b00$</string>
            <key>textureFileName</key>
            <string>cha_asuka.pvr.ccz</string>
        </dict>
    </dict>
</plist>
