<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,4},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hisui_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,4},{148,162}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,6},{148,162}}</string>
                <key>sourceSize</key>
                <string>{210,174}</string>
            </dict>
            <key>hisui_back_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,376},{60,52}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{60,52}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>hisui_back_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,234},{110,62}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{110,62}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>hisui_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,390},{76,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{76,42}}</string>
                <key>sourceSize</key>
                <string>{102,56}</string>
            </dict>
            <key>hisui_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{170,164}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{170,164}}</string>
                <key>sourceSize</key>
                <string>{210,174}</string>
            </dict>
            <key>hisui_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,242},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>hisui_front_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,172},{126,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{126,58}}</string>
                <key>sourceSize</key>
                <string>{134,60}</string>
            </dict>
            <key>hisui_side_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,440},{52,46}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,26},{52,46}}</string>
                <key>sourceSize</key>
                <string>{92,84}</string>
            </dict>
            <key>hisui_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,172},{66,36}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{66,36}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>hisui_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,4},{160,170}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,8},{160,170}}</string>
                <key>sourceSize</key>
                <string>{210,182}</string>
            </dict>
            <key>hisui_side_leg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,310},{56,42}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{56,42}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>hisui_side_leg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,310},{62,42}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{62,42}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>hisui_side_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,390},{88,72}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,72}}</string>
                <key>sourceSize</key>
                <string>{128,82}</string>
            </dict>
            <key>hisui_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,168},{140,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{140,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hisui_tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,300},{104,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,86}}</string>
                <key>sourceSize</key>
                <string>{106,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_hisui.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5339bd516d4eb564af24f44683134c37:664206e17c7ec1d5aff27c694a06b044:4b365fabc5f8fe257dcbde461d1d1418$</string>
            <key>textureFileName</key>
            <string>cha_hisui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
