<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,498},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>ikaruga_back_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,406},{100,74}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{100,74}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>ikaruga_back_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,4},{128,182}}</string>
                <key>offset</key>
                <string>{-18,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{128,182}}</string>
                <key>sourceSize</key>
                <string>{224,200}</string>
            </dict>
            <key>ikaruga_back_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{166,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{166,198}}</string>
                <key>sourceSize</key>
                <string>{224,200}</string>
            </dict>
            <key>ikaruga_front_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,4},{28,36}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{28,36}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>ikaruga_front_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,250},{68,76}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{68,76}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>ikaruga_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,492},{78,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{78,14}}</string>
                <key>sourceSize</key>
                <string>{106,24}</string>
            </dict>
            <key>ikaruga_front_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,120},{130,126}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,4},{130,126}}</string>
                <key>sourceSize</key>
                <string>{224,200}</string>
            </dict>
            <key>ikaruga_front_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,4},{162,112}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,88},{162,112}}</string>
                <key>sourceSize</key>
                <string>{224,200}</string>
            </dict>
            <key>ikaruga_side_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,44},{18,48}}</string>
                <key>offset</key>
                <string>{-47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{18,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>ikaruga_side_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,402},{110,86}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{110,86}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>ikaruga_side_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,406},{110,88}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{110,88}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>ikaruga_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,120},{68,38}}</string>
                <key>offset</key>
                <string>{-24,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{68,38}}</string>
                <key>sourceSize</key>
                <string>{124,58}</string>
            </dict>
            <key>ikaruga_side_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,206},{160,196}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{160,196}}</string>
                <key>sourceSize</key>
                <string>{224,200}</string>
            </dict>
            <key>ikaruga_side_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,206},{192,126}}</string>
                <key>offset</key>
                <string>{16,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,58},{192,126}}</string>
                <key>sourceSize</key>
                <string>{224,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_ikaruga.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd3ae7e69abe38eb7e16f517ae866e3e:8db6b10eec836b57d71fc01d441f7181:771047bb744926db86b744bb4b40f763$</string>
            <key>textureFileName</key>
            <string>cha_ikaruga.pvr.ccz</string>
        </dict>
    </dict>
</plist>
