<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,4},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>asuka_back_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,56},{100,48}}</string>
                <key>offset</key>
                <string>{-1.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,48}}</string>
                <key>sourceSize</key>
                <string>{103,50}</string>
            </dict>
            <key>asuka_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{196,166}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{196,166}}</string>
                <key>sourceSize</key>
                <string>{200,168}</string>
            </dict>
            <key>asuka_back_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,322},{78,56}}</string>
                <key>offset</key>
                <string>{-2,-5.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,56}}</string>
                <key>sourceSize</key>
                <string>{82,65}</string>
            </dict>
            <key>asuka_front_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,176},{28,30}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{28,30}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>asuka_front_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,108},{94,64}}</string>
                <key>offset</key>
                <string>{11,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{94,64}}</string>
                <key>sourceSize</key>
                <string>{116,65}</string>
            </dict>
            <key>asuka_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,208},{78,28}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,6},{78,28}}</string>
                <key>sourceSize</key>
                <string>{200,38}</string>
            </dict>
            <key>asuka_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,4},{188,162}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{188,162}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>asuka_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,252},{78,66}}</string>
                <key>offset</key>
                <string>{2,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,66}}</string>
                <key>sourceSize</key>
                <string>{82,65}</string>
            </dict>
            <key>asuka_side_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,356},{20,40}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>asuka_side_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,4},{102,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,2},{102,48}}</string>
                <key>sourceSize</key>
                <string>{200,52}</string>
            </dict>
            <key>asuka_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,290},{62,28}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{62,28}}</string>
                <key>sourceSize</key>
                <string>{200,38}</string>
            </dict>
            <key>asuka_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,170},{184,168}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{184,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>asuka_slde_bottom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,176},{72,80}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{72,80}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
            <key>asuka_slde_bottom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,400},{72,74}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{72,74}}</string>
                <key>sourceSize</key>
                <string>{124,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_asuka.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f486958f56a3e85f9e8d5c2e58587675:0ac027f995685dbe61c71f512360d701:58324c4c4873b31241f32a056deb0b00$</string>
            <key>textureFileName</key>
            <string>cha_asuka.pvr.ccz</string>
        </dict>
    </dict>
</plist>
