<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,158},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>hikage_back_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,292},{34,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>hikage_back_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,92},{62,96}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{62,96}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>hikage_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,258},{142,122}}</string>
                <key>offset</key>
                <string>{6,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{142,122}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>hikage_front_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,376},{32,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>hikage_front_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,316},{60,58}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{60,58}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>hikage_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,158},{84,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{84,24}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>hikage_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,132},{144,122}}</string>
                <key>offset</key>
                <string>{-5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{144,122}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>hikage_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,378},{48,46}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,58},{48,46}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>hikage_side_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,330},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{38,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hikage_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,292},{62,20}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,20}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>hikage_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{148,124}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{148,124}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>hikage_side_leg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,4},{84,96}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{84,96}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>hikage_side_leg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,186},{80,102}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{80,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_hikage.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66b32ae486ea7b2d8939fe7ecccdb9fd:bc40cc01b3f538d852f36316aad908d6:727f77d054a8d381836c1cb56a4b580c$</string>
            <key>textureFileName</key>
            <string>cha_hikage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
