<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,4},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>ryouna_back_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,450},{58,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ryouna_back_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,346},{62,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,44}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>ryouna_back_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,146},{78,66}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{78,66}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>ryouna_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,154},{132,138}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{212,208}</string>
            </dict>
            <key>ryouna_back_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,328},{42,38}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,52},{42,38}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>ryouna_front_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,276},{64,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{64,44}}</string>
                <key>sourceSize</key>
                <string>{70,48}</string>
            </dict>
            <key>ryouna_front_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,452},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ryouna_front_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,78},{80,64}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{80,64}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>ryouna_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,324},{64,18}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{64,18}}</string>
                <key>sourceSize</key>
                <string>{98,34}</string>
            </dict>
            <key>ryouna_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,290},{130,134}}</string>
                <key>offset</key>
                <string>{3,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,4},{130,134}}</string>
                <key>sourceSize</key>
                <string>{212,208}</string>
            </dict>
            <key>ryouna_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,410},{46,38}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,52},{46,38}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>ryouna_side_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,394},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ryouna_side_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,452},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>ryouna_side_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,4},{82,70}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,70}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>ryouna_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,424},{60,24}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{60,24}}</string>
                <key>sourceSize</key>
                <string>{98,34}</string>
            </dict>
            <key>ryouna_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{146,146}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{146,146}}</string>
                <key>sourceSize</key>
                <string>{212,208}</string>
            </dict>
            <key>ryouna_side_leg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,370},{42,36}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,54},{42,36}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>ryouna_side_leg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,276},{48,38}}</string>
                <key>offset</key>
                <string>{21,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,46},{48,38}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>ryouna_wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,216},{104,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{104,56}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_ryouna.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa79ee23be4ec064a6ee79330a50b0bc:972436fc21d5456ccb51b42d6f8ed703:1b45f5d04ebbde5b6dfac287551812e1$</string>
            <key>textureFileName</key>
            <string>cha_ryouna.pvr.ccz</string>
        </dict>
    </dict>
</plist>
