<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,68},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>ayame_back_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,68},{64,54}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,50},{64,54}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>ayame_back_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,166},{204,192}}</string>
                <key>offset</key>
                <string>{-34,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{204,192}}</string>
                <key>sourceSize</key>
                <string>{280,214}</string>
            </dict>
            <key>ayame_back_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,4},{212,158}}</string>
                <key>offset</key>
                <string>{-30,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,54},{212,158}}</string>
                <key>sourceSize</key>
                <string>{280,214}</string>
            </dict>
            <key>ayame_front_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,156},{30,42}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{30,42}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ayame_front_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,538},{90,98}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{90,98}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>ayame_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,38},{66,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{66,26}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>ayame_front_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,386},{202,160}}</string>
                <key>offset</key>
                <string>{31,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,12},{202,160}}</string>
                <key>sourceSize</key>
                <string>{280,214}</string>
            </dict>
            <key>ayame_front_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,362},{204,172}}</string>
                <key>offset</key>
                <string>{26,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,38},{204,172}}</string>
                <key>sourceSize</key>
                <string>{280,214}</string>
            </dict>
            <key>ayame_side_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,126},{26,46}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{26,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ayame_side_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,538},{90,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{90,100}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>ayame_side_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,362},{88,102}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{88,102}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>ayame_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,4},{68,30}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{68,30}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>ayame_side_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,206},{176,204}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{176,204}}</string>
                <key>sourceSize</key>
                <string>{280,214}</string>
            </dict>
            <key>ayame_side_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{214,198}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,8},{214,198}}</string>
                <key>sourceSize</key>
                <string>{280,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_ayame.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:187f15545dd074bd2521830d65e4f20b:98e96350370f42582036c2a6c9d93e9b:b77b3b2886674fca564ceac5c327ddc6$</string>
            <key>textureFileName</key>
            <string>cha_ayame.pvr.ccz</string>
        </dict>
    </dict>
</plist>
