<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,4},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>ibuki_back_arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,146},{30,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>ibuki_back_arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,78},{98,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{98,126}}</string>
                <key>sourceSize</key>
                <string>{110,130}</string>
            </dict>
            <key>ibuki_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{168,126}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{168,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ibuki_back_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,134},{60,50}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,60},{60,50}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>ibuki_back_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,206},{70,56}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{70,56}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>ibuki_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,72},{70,18}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{70,18}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>ibuki_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,4},{166,124}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{166,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ibuki_front_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,188},{60,46}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,64},{60,46}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>ibuki_front_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,4},{130,70}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{130,70}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>ibuki_hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,134},{68,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{68,102}}</string>
                <key>sourceSize</key>
                <string>{72,110}</string>
            </dict>
            <key>ibuki_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,188},{14,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{14,38}}</string>
                <key>sourceSize</key>
                <string>{22,46}</string>
            </dict>
            <key>ibuki_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,4},{64,20}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{64,20}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>ibuki_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,132},{164,124}}</string>
                <key>offset</key>
                <string>{-10,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{164,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ibuki_side_leg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,266},{58,50}}</string>
                <key>offset</key>
                <string>{25,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,60},{58,50}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>ibuki_side_leg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,238},{66,50}}</string>
                <key>offset</key>
                <string>{29,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,60},{66,50}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
            <key>ibuki_side_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,180},{126,78}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{126,78}}</string>
                <key>sourceSize</key>
                <string>{140,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_ibuki.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:376ee245ad6e83fc91cf0b52ef1e3223:4ce93c28e35da79551b71d305c8f8463:2030b9204ebfb446092bcdd85df09bb9$</string>
            <key>textureFileName</key>
            <string>cha_ibuki.pvr.ccz</string>
        </dict>
    </dict>
</plist>
