<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,368},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>homura_back_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,380},{62,88}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{62,88}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>homura_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,218},{140,146}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,10},{140,146}}</string>
                <key>sourceSize</key>
                <string>{208,166}</string>
            </dict>
            <key>homura_front_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,56},{56,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>homura_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,472},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{66,36}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>homura_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,368},{138,146}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{138,146}}</string>
                <key>sourceSize</key>
                <string>{208,166}</string>
            </dict>
            <key>homura_front_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,4},{58,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{58,48}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>homura_gum.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,380},{124,90}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{124,90}}</string>
                <key>sourceSize</key>
                <string>{130,108}</string>
            </dict>
            <key>homura_hear.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{178,210}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{178,210}}</string>
                <key>sourceSize</key>
                <string>{208,220}</string>
            </dict>
            <key>homura_side_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,4},{70,66}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{70,66}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>homura_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,4},{60,36}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{60,36}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>homura_side_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,218},{158,126}}</string>
                <key>offset</key>
                <string>{-25,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{158,126}}</string>
                <key>sourceSize</key>
                <string>{208,166}</string>
            </dict>
            <key>homura_side_leg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,68},{56,42}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{56,42}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>homura_side_leg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,116},{50,44}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_homura.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f10af6afa365c71a99f80e3613aed7e:ebf3ccb798392b25628e5c710480fd0c:e41d0f912ab2b52bf537c278c1edb5ef$</string>
            <key>textureFileName</key>
            <string>cha_homura.pvr.ccz</string>
        </dict>
    </dict>
</plist>
