<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,232},{250,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,224}}</string>
                <key>sourceSize</key>
                <string>{250,224}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,4},{250,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,224}}</string>
                <key>sourceSize</key>
                <string>{250,224}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{250,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,224}}</string>
                <key>sourceSize</key>
                <string>{250,224}</string>
            </dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,232},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>murasaki_back_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,932},{152,86}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{152,86}}</string>
                <key>sourceSize</key>
                <string>{160,130}</string>
            </dict>
            <key>murasaki_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,232},{240,220}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{240,220}}</string>
                <key>sourceSize</key>
                <string>{250,224}</string>
            </dict>
            <key>murasaki_doll.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,604},{38,62}}</string>
                <key>offset</key>
                <string>{-6.5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,62}}</string>
                <key>sourceSize</key>
                <string>{55,68}</string>
            </dict>
            <key>murasaki_front_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,918},{130,92}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,38},{130,92}}</string>
                <key>sourceSize</key>
                <string>{160,130}</string>
            </dict>
            <key>murasaki_front_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,528},{68,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{68,18}}</string>
                <key>sourceSize</key>
                <string>{110,32}</string>
            </dict>
            <key>murasaki_front_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,604},{184,166}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,2},{184,166}}</string>
                <key>sourceSize</key>
                <string>{250,224}</string>
            </dict>
            <key>murasaki_front_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,456},{236,162}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{236,162}}</string>
                <key>sourceSize</key>
                <string>{250,224}</string>
            </dict>
            <key>murasaki_front_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,646},{86,58}}</string>
                <key>offset</key>
                <string>{13,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,14},{86,58}}</string>
                <key>sourceSize</key>
                <string>{160,130}</string>
            </dict>
            <key>murasaki_side_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,646},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{44,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>murasaki_side_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,774},{140,96}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,24},{140,96}}</string>
                <key>sourceSize</key>
                <string>{160,130}</string>
            </dict>
            <key>murasaki_side_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,460},{64,20}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{64,20}}</string>
                <key>sourceSize</key>
                <string>{110,32}</string>
            </dict>
            <key>murasaki_side_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,774},{136,154}}</string>
                <key>offset</key>
                <string>{-17,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,2},{136,154}}</string>
                <key>sourceSize</key>
                <string>{250,224}</string>
            </dict>
            <key>murasaki_side_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,460},{224,140}}</string>
                <key>offset</key>
                <string>{3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,78},{224,140}}</string>
                <key>sourceSize</key>
                <string>{250,224}</string>
            </dict>
            <key>murasaki_side_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,736},{60,58}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,16},{60,58}}</string>
                <key>sourceSize</key>
                <string>{160,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cha_murasaki.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bbdd00ec3edad56262e75bc39dc6ba3:bbb523d2f1eafd2c43579c660f4078f8:db5e76246d49d388e78248ebb71f715a$</string>
            <key>textureFileName</key>
            <string>cha_murasaki.pvr.ccz</string>
        </dict>
    </dict>
</plist>
