<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,124},{1,1}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>cha_back_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,16},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{24,24}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>cha_back_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,108},{36,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{36,14}}</string>
                <key>sourceSize</key>
                <string>{46,14}</string>
            </dict>
            <key>cha_back_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>cha_back_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,42},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{20,22}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>cha_front_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,106},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{46,20}</string>
            </dict>
            <key>cha_front_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,24},{12,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>cha_front_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,66},{38,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>cha_front_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{30,18}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{46,18}</string>
            </dict>
            <key>cha_left_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,62}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{46,62}</string>
            </dict>
            <key>cha_ruby.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>cha_ruby_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,42},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>cha_ruby_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{28,12}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{28,12}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>cha_ruby_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{30,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>character.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0a991a03a6a70f1d1b59bc320c77f0a:bd21ba22f013929153da792a2e27ddf4:c00d5954cbd88b41a84ddf8f1f8b93fd$</string>
            <key>textureFileName</key>
            <string>character.pvr.ccz</string>
        </dict>
    </dict>
</plist>
