<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>HSPSDK_VERSION</key>
<string>2.30.4</string>
<key>HSPCORE_VERSION</key>
<string>2.30.4.1305</string>
<key>HSPCGP_VERSION</key>
<string>2.28.11269</string>
<key>HSPPAYMENT_VERSION</key>
<string>2.29.536</string>
<key>HSPPAYMENT_CHUKONG_VERSION</key>
<string>2.16.10930</string>
<key>HSPITEMDELIVERY_VERSION</key>
<string>2.28.11270</string>
</dict>
</plist>
